# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs/
*.log

# dotenv environment variables
.env
.env.*

# Build output
dist/
build/

# Prisma
prisma/.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Others
*.tgz
.idea/
*.swp

# Prisma migrations
prisma/migrations/*/migration.sql
!prisma/migrations/**/migration.sql
